@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  font-size: 1.5rem;
  @apply bg-gray-100;
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: larger;
}

h3 {
  @apply text-3xl font-bold mb-8;
}

form {
  label {
    @apply lg:w-1/3 w-full block float-left pt-4;
    }
  input, textarea, select {
    @apply px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500;
    @apply lg:w-2/3 w-full block float-left;
    @apply my-2;
  }
  .input-container {
    @apply lg:w-2/3 w-full block float-left;
    input {
      width: 100% !important;
    }
  }
  button {
    @apply w-full bg-green-600 hover:bg-green-700 text-white font-bold py-3 rounded-lg transition duration-200 mt-2;
  }
}

.content {
  @apply w-full bg-white rounded-xl shadow-lg p-8;
}
.main {
  @apply flex flex-col items-center justify-center min-h-screen bg-gray-50 p-6;
}

.link {
  @apply underline
}

.warning {
  @apply bg-blue-100 border border-blue-300 text-blue-800 text-sm rounded-lg p-4 mb-6
}

.button {
  @apply px-4 py-2 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-100 hover:text-black focus:outline-none focus:ring-2 focus:ring-gray-300;
}

.button-green {
  @apply px-4 py-2 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-100 hover:text-black focus:outline-none focus:ring-2 focus:ring-gray-300;

  @apply bg-green-600 hover:bg-green-700 text-white font-bold transition duration-200;
}

.button-sm {
  @apply px-2 py-1 border border-gray-300 text-sm rounded-md text-gray-700 hover:bg-gray-100 hover:text-black focus:outline-none focus:ring-2 focus:ring-gray-300 ml-4;
}

.button-sm-green {
  @apply px-2 py-1 border border-gray-300 text-sm rounded-md text-gray-700 hover:bg-gray-100 hover:text-black focus:outline-none focus:ring-2 focus:ring-gray-300 ml-4;

  @apply bg-green-600 hover:bg-green-700 text-white font-bold transition duration-200;
}

.button-tab {
  @apply px-4 py-2  border-gray-300 text-xl font-bold text-gray-700 bg-white  hover:text-black focus:outline-none focus:ring-2 focus:ring-gray-300 flex-1 text-center;
}
.button-tab-active {
  @apply button-tab border-t border-l border-r rounded-md;
  margin-bottom: -10px;

}
.button-tab-inactive {
  @apply button-tab border rounded-md mb-1 hover:bg-gray-100;
}


#giftcard {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
  max-width: 20em;
}

#giftcard:empty {
  display: none;
}

.card, .box {
  border: solid 1px #248;
  padding: 0 1em 1em 1em;
  margin: .5em auto;
  //max-width: 30em;
  @apply bg-white rounded shadow
}

.card-body {
  text-decoration: none;
  white-space: break-spaces;
  color: black;
}

.float-right, .card-date {
  float: right
}

.min-height-200 {
  min-height: 150px;
}

.info-address {
  font-size: .9em;
  font-family: mono;
  word-break: break-all;
  color: #248;
  border: 1px solid;
  padding: .5em;
  margin: .5em;
  display: flex;
  align-items: center;
}

#logout {
  @apply absolute top-4 right-4 text-gray-500 hover:text-gray-700 hover:bg-gray-200 p-4 text-sm font-medium transition rounded-xl;
}
